.DS_Store
bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.fake
.ionide
.idea
app.db
Hangfire.db
*.DotSettings.user
publish_output/
publish_output.zip
farmer-deploy.json
**/node_modules/*
**/wwwroot/transpiled/*
swagger.json
openapitools.json

publish
publish.zip
  
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# .tfplan files
*.tfplan

# .pem files
*.pem

# .hcl files from Terraform v0.14 and newer
*.hcl

# backend
backend-config.txt
